body {

	background-color: #330033;
	font-size: 16px;
	text-align: justify;
	font-family: "copperplate", fantasy;
}

#header {
	background-color: #f6b319;
	border-radius: 0;
	border: 0;
}
/* .table {
  border: 3px solid black;
  border-collapse: collapse;
} */